.cardContainer {
  max-width: 30rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.card {
  min-height: 29rem;
  height: 30rem;
  background-color: var(--COLOR-CARD-BACKGROUND);
  border: 0;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  justify-content: space-between;
}

.cardImage {
  height: 18rem;
  object-position: top center;
}

.length {
  position: absolute;
  top: 52%;
  right: 5px;

  background-color: var(--COLOR-BACKGROUND);
  padding: 3px;
  opacity: 0.6;
  font-size: 1.1rem;
  border-radius: 5px;
}

.cardBody {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 0 0.5rem;
  position: relative;
  width: 95%;
}

.cardFooter {
  display: flex;
  align-items: center;
  gap: 3px;

  padding: 0 5.5rem;
  color: var(--COLOR-CARD-FOOTER);
  font-size: 1.2rem;
}

.videoDetails {
  display: flex;
  align-items: center;
  gap: 5px;

  padding: 0 5.5rem;
  color: var(--COLOR-CARD-FOOTER);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.dotSeparator {
  background-color: var(--COLOR-CARD-FOOTER);
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.moreOption {
  font-size: 2rem;

  position: absolute;
  bottom: 25%;
  right: 2px;
  cursor: pointer;
}

.moreOptionsContainer {
  position: absolute;
  bottom: -2rem;
  right: 0.5rem;
  z-index: var(--Z-INDEX-10);

  width: 23rem;
  border-radius: 5px;

  background-color: var(--COLOR-BACKGROUND);
}

.moreOptionsListItem {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 1rem;
}

.moreOptionsListItem:nth-child(1) {
  border-bottom: 1px solid var(--SECONDARY-COLOR);
}

.moreOptionsContainer li > span {
  margin-left: 10px;
}

.card:hover {
  transform: translateY(0);
}

.cardContainer:hover {
  transform: scale(1.03);
}

@media only screen and (max-width: 768px) {
  .card {
    height: 33rem;
  }

  .length {
    top: 43%;
  }

  .moreOption {
    bottom: 32%;
  }

  .moreOptionsContainer {
    bottom: 6%;
  }
}

@media only screen and (max-width: 500px) {
  .moreOptionsContainer {
    bottom: 12%;
  }
}
