.historyVideosContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(31rem, 1fr));
  row-gap: 3rem;
  padding: 4.5rem 4.5rem 3rem 4.5rem;
}

.clearHistoryBtnContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 4rem;
}

@media only screen and (max-width: 768px) {
  .historyVideosContainer {
    place-items: center;
  }
}
