.filterContainer {
  padding: 4.5rem;
}

.allVideos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(31rem, 1fr));
  row-gap: 3rem;
  padding: 0 4.5rem 3rem 4.5rem;
}

@media only screen and (max-width: 500px) {
  .filterContainer {
    padding: 2rem;
  }
}
