@import url("https://jodd-component-css.netlify.app/main.css");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap");

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-grow: 1;
}

.content {
  position: relative;
  width: 100%;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
