:root {
  --COLOR-BACKGROUND: #171717;
  --COLOR-PRIMARY: #f2f2f2;
  --Z-INDEX-10: 10;
  --COLOR-CARD-BACKGROUND: #1c1c22;
  --COLOR-CARD-FOOTER: #9ca3af;
  --COLOR-BTN-BACKGROUND: #1f2937;
}

body {
  background-color: var(--COLOR-BACKGROUND);
  color: var(--COLOR-PRIMARY);
}

a {
  color: var(--COLOR-PRIMARY);
}
